@font-face {
    font-family: 'Visitor';
    src: url('../fonts//Visitor/visitor2.ttf')  format('truetype');
}

.canvasFormatting {
    border: 3px solid #cecece;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    display: block;
}